body {
    margin: 0%;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 18px;
}

header {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    left: 5%;
    padding: 15px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

header nav a {
    color: black;
    text-decoration: none;
    position: relative;
    right: 5%;
    padding: 15px;
    font-size: 12px;
}

.dropbtn {
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 15px;
    font-size: 12px;
    border: none;
}

.dropdown {
    position: relative;
    right: 5%;
}

.dropdown-content {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#hiden-menu {
    display: none;
}

#banner {
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

#banner button {
    border: none;
    box-shadow: 0 2px 5px rgb(48, 45, 45);
    background-color: #303030;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 1% 2% 1% 2%;
    font-size: 15px;
    margin-top: 5vh;
}

#box-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 10%;
}

.red {
    background-color: #FF6B57;
    margin-left: 5%;
}

.purple {
    background-color: #9B59B6;
}

.light-blue {
    background-color: #41C3AC;
}

.blue {
    background-color: #3498DB;
    margin-right: 5%;
}

.box {
    width: 20%;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    box-shadow: 0 10px 20px rgb(136, 128, 128);
}

.box h2 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

#title-container {
    background-color: #F6F6F6;
    padding: 5% 0% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttons button {
    border-style: none;
    text-align: center;
    margin-bottom: 10%;
    padding: 10px 20px;
    background-color: #eeeeee;
    color: #464646;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 1px 3px rgb(136, 128, 128);
}

#buttons :first-child {
    background-color: black;
    color: white;
    box-shadow: 0 2px 4px rgb(87, 81, 81);
}

#img-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images {
    width: 20%;
    background-color: #fff;
    margin: 3%;
    box-shadow: 0 2px 4px rgb(87, 81, 81);
}

.images:hover {
    border: 1px solid black;
    cursor: pointer;
}

.images img {
    width: 100%;
    height: 200px;
}

.images p {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(49, 48, 48);
}

#feature-text {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(49, 48, 48);
}

#feature-text h2 {
    font-size: 30px;
    font-weight: 500;
}

#feature-text p {
    text-transform: none;
    font-size: 15px;
    font-weight: 600;
    margin: 1%;
    font-family: 'Roboto', sans-serif;
}

#border {
    margin-top: 2%;
    width: 5%;
    border: solid 1px;
    color: rgb(238, 222, 222);
}

#content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
}

#content div {
    font-size: 13px;
    float: left;
    width: 25%;
    margin-right: 8%;
    margin-top: 3%;
}

#social-media {
    font-size: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 20%;
    width: 100%;
    height: max-content;
    background-color: #444444;
    color: white;
    text-align: center;
}

#social-media a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.copyright {
    background-color: black;
    display: flex;
}

.copyright p {
    color: white;
    font-size: 10px;
}

.copyright p:first-child {
    align-items: flex-end;
    margin-left: 2%;
    text-transform: none;
}

.copyright p:last-child {
    align-items: flex-end;
    margin-left: auto;
    margin-right: 2%;
    text-transform: none;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header {
        display: block;
        margin-top: 2%;
    }
    #banner {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
    #banner h1 {
        font-size: 35px;
    }
    .box p {
        font-size: 15px;
    }
    .images {
        width: 40%;
    }
    #content div {
        width: 40%;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        margin: 0;
        padding: 0;
    }
    header {
        padding: 3%;
        margin-bottom: 2%;
    }
    header nav {
        display: none;
    }
    #hiden-menu {
        display: block;
        float: right;
        color: black;
        font-size: 25px;
        margin-right: 2%;
    }
    #banner {
        font-size: 18px;
        padding: 8%;
    }
    #banner button {
        font-size: 20px;
        padding: 3%;
    }
    #box-container {
        display: block;
    }
    .box {
        width: 50%;
        position: relative;
        left: 25%;
        margin: 0;
        margin-bottom: 5%;
    }
    #buttons button {
        margin-bottom: 3%;
        position: relative;
        left: 5%;
    }
    #buttons :last-child {
        margin-left: 35%;
    }
    #img-container {
        display: block;
    }
    .images {
        width: 80%;
        position: relative;
        left: 8%;
    }
    #feature-text {
        text-align: center;
        margin-bottom: 3%;
    }
    #feature-text h2 {
        font-size: 20px;
    }
    #feature-text p {
        font-size: 10px;
    }
    #content {
        padding-bottom: 65%;
    }
    #social-media a {
        font-size: 18px;
    }
    .copyright p {
        font-size: 8px;
    }
}