body {
    margin: 0;
    padding: 0;
    background-color: #130377;
}

#left {
    display: flex;
    width: 50%;
    color: white;
    position: fixed;
}

#left img {
    width: 100%;
    margin-top: 20%;
}

#left h1 {
    position: absolute;
    top: 50%;
    left: 10%;
    /* Koga koristis position:absolute, nema potreba od margin top. Margin top go butka elementot od gore, i sozdava prazen prostot pomegju.
    Dodeka top, ili left, cisto samo go pozicionira, so apsolutna pozicija. */
}

#right {
    float: right;
    width: 50%;
}

input {
    width: 100%;
    padding: 2%;
    background-color: transparent;
    border: solid 2px white;
}

.city {
    float: left;
    width: 32%;
    color: white;
    text-align: center;
    font-size: 14px;
    border: solid 2px white;
}

.city img {
    width: 200px;
    height: 200px;
    /* Isto i ovde ja smeniv goleminata na slikata, za da nema scroll stranata. */
}

.city:hover {
    background-color: white;
    color: #130377;
}