* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: rgb(85, 85, 85);
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a.btn {
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #1e8eeb;
    font-weight: bold;
    text-align: center;
}

hr {
    width: 15%;
    height: 2px;
    background-color: #1e8eeb;
    border: 0;
    margin-bottom: 5%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 110px;
}

section h3.title {
    color: #3e4a50;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 4%;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.descript {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    list-style: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(245, 243, 243);
    padding: 35px 100px 0;
}

header nav {
    display: flex;
}

header nav a {
    margin: 0 15px;
}

.header {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.header .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.header .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.75;
}

.header h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 2%;
}

.header h3 {
    font-size: 30px;
    margin-bottom: 3%;
}

.header a.btn {
    padding: 2% 4%;
}

.image-box .images li {
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: rgb(51, 51, 51);
}

.image-box .images li.small {
    flex-basis: 45%;
}

.image-box .images li.large {
    flex-basis: 55%;
}

.services {
    background-color: #faf4f4;
}

.services .descript li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.services .descript li i {
    font-size: 50px;
    color: #1e90ee;
    margin-bottom: 25px;
}

.services .descript li h4 {
    color: rgb(85, 85, 85);
    font-size: 20px;
    margin-bottom: 25px;
}

.services .descript li p {
    margin: 0;
}

.contact {
    background-color: #fdfafa;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: rgb(85, 85, 85);
}

.contact form .btn {
    padding: 18px 42px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #40474b;
    padding: 60px 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 30px;
}

footer ul li {
    margin-right: 20px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}

footer p {
    text-transform: uppercase;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

footer p a {
    color: white;
}

@media (max-width: 700px) {
    footer {
        padding: 80px 15px;
    }
}

@media (max-width: 1200px) {
    #bsaHolder {
        display: none;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
    section {
        padding: 100px 50px;
    }
    .services .descript li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .services .descript li:last-child {
        margin-bottom: 0;
    }
    .image-box .images li.small,
    .image-box .images li.large {
        flex-basis: 100%;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    header h2 {
        margin-bottom: 15px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 80px 30px;
    }
    .services .descript li {
        flex-basis: 100%;
    }
}