body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #7897AB;
    height: 5vh;
    padding-top: 30px;
}

#applelogo {
    float: left;
    width: 30px;
    height: 30px;
    display: inline;
    margin-left: 150px;
    position: relative;
    bottom: 50%;
}

nav {
    font-size: 15px;
    float: right;
    display: inline;
    margin-right: 150px;
    position: relative;
    bottom: 20%;
}

nav a {
    padding: 16px;
    color: white;
    text-decoration: none;
}

#navbar a:hover {
    color: gray;
}

#header {
    background-color: #7897AB;
}

#appledev {
    display: block;
    margin: 0 auto;
    padding: 3%;
    position: relative;
    right: 5%;
}

.box1 {
    float: left;
    text-align: center;
    width: 25%;
    background-color: #DED9C4;
    height: 150px;
}

.box2 {
    float: left;
    text-align: center;
    width: 25%;
    background-color: #B1B493;
    height: 150px;
}

.box3 {
    float: left;
    text-align: center;
    width: 25%;
    background-color: #94CECA;
    height: 150px;
}

.box4 {
    float: left;
    text-align: center;
    width: 25%;
    background-color: #8787A3;
    height: 150px;
}

i {
    margin-top: 30px;
}

.dev-img {
    float: left;
    width: 50%;
    background-color: #B8E1DD;
    height: 250px;
}

.ipad {
    float: left;
    width: 50%;
    color: white;
    background-color: #8787A3;
    height: 250px;
    text-align: center;
}

#device {
    display: block;
    margin: auto;
    height: 60%;
    margin-top: 50px;
}

#phraseDescript {
    font-size: 15px;
    text-align: left;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iphonex {
    float: left;
    width: 50%;
    color: white;
    background-color: #B1B493;
    height: 250px;
    text-align: center;
}

.macbook {
    float: left;
    width: 50%;
    color: white;
    background-color: #FF9B6A;
    height: 250px;
    text-align: center;
}

#team {
    float: left;
    width: 33.3%;
    color: white;
    background-color: #8787A3;
    height: 150px;
    text-align: center;
}

#sallary {
    float: left;
    width: 33.3%;
    color: white;
    background-color: #B1B493;
    height: 150px;
    text-align: center;
}

#earnings {
    float: left;
    width: 33.3%;
    color: white;
    background-color: #94CECA;
    height: 150px;
    text-align: center;
}

h3 {
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.icon-bar {
    float: left;
    background-color: #7897AB;
    width: 100%;
    height: 75px;
    text-align: center;
}

.icon-bar a {
    font-size: 20px;
    color: rgb(201, 193, 193);
    padding: 50px;
}

footer {
    float: left;
    padding-top: 25px;
    width: 100%;
    height: 50px;
    background-color: #4D375D;
    color: gray;
    font-size: 15px;
    text-align: center;
}